/*
* File: style.css
* Author: Szamosfalvi Szonja
* Copyright: 2024, Szamosfalvi Szonja
* Group: Szoft I-1-N
* Date: 2024-05-30
* Github: https://github.com/szonia/
* Licenc: GNU GPL
*/



body {
    background-image: linear-gradient(#e6dff1 , #f5dfeb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;

}


h1 { 
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;

}

.input {
    margin-top: 50px;
    margin-bottom: 20px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
}


